@charset "UTF-8";

/*
    em HTML é id  = em CSS é #
    em HTML é class = em CSS é .
*/

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
   color: rgb(101, 158, 96); 
}

#principal {
    /* seletor personalizado */
    text-align: center;
    background-color: rgb(3, 104, 3);
    color: white;
}

h2 {
    color: rgb(84, 190, 81);
}

.basico {
    color: rgb(84, 190, 81);
    
}

.intermediario {
    color: rgb(190, 183, 81);
}

.avancado {
    color: rgb(190, 88, 81);
}

.destaque {
    background-color: #c5c56070;
}